*{
    margin: 0;
    font-family: poppins,Arial, Helvetica, sans-serif;
}

#body-bg{
    --bs-gutter-x: 0rem;
}

.navbar{
    background-color: #1d1d1d;
    width: 100%;
    height: 120px;
    color:#ffffff;
}

.navbar-toggler{
    margin-left: 50px;
    margin-top: 10px;
    float: left;
}

.navsplit-horizontal{
    height: 40px;
    width: 100%;
}

.searchitems{
    height: 40px;
    width: 100%;
    margin-top: 6px;
    display: flex;
    justify-content: center;
    margin-left: -12px;
}

.navsplit-vertical{
    margin-top: 0;
    height: 50px;
    float: left;
    width: 45%;
}

.logo{
    float: left;
    margin-top: 4px;
    height: 40px;
}

.logoimage{
    height: 40px;
    padding-left: 50px;
}

.navs{
    display: flex;
    justify-content:flex-end;
    flex-direction: row;
    margin-top: 10px;
}

.navtab{
    padding-left: 50px;
    color: #fff;
    font-weight:bold;
    text-decoration: none;
}
.items{
    padding-left: 22px;
    color: #fff;
    font-size: small;
    text-decoration: none;
}

.searchbar{
    width:30%;
    margin-left: 35%;
    margin-top:-18px;
}

#font-highlight1{
    font-weight:bolder;
    font-size:50px;
    font-style: italic;
    color: #EC275B;
}

#font-highlight2{
    font-weight: bolder;
    font-size:50px;
    color: #1d1d1d;
    font-style: italic;
}

.Content-box{
    margin-top: 90px;
    height: 520px;
    padding: 75px;
    background-color: #f6f6f6;
}

.left-content{
    margin:38px;
    width: 35%;
    float: left;
}

.center-content{
    width: 30%;
    float: left;
    margin-left: -12%;
}

.right-content{
    float: left;
    margin-left: 80px;
}

.contact-link{
    text-decoration: none;
    color: #EC275B;
    font-weight:bold;
    margin-left: 50px;
}

.secondary-text{
    width: 300px;
}

.sec-text-style{
    width: 380px;
    margin-left:85px; 
    font-size: 20px;
}

.shopnow{
    border-radius: 10px;
    box-shadow: none;
    border-style: none;
    width: 222px;
    height: 50px;
    color: #fff;
    background-color: #1d1d1d;
}

#button-text{
    display: inline-block;
    width: 82px;
}

.icon-box{
    margin: 5px;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 1px #bebebe;
    float: left;
}

.icon-inside{
    margin: 18px;
    height: 14px;
}

.content-descriptions{
    font-size: 12px;
    margin: 40px;
    margin-left: 55px;
    width: 400px;
}
.heading-text{
    font-size: large;
}

#descript{
    margin-right: 20px;
}

.product-section{
    width: 100%;
    height: 500px;
}

.feat-products{
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    margin: 50px;
    margin-left: 100px;
}

.product-list{
margin: 80px;
}
.product-box{
    float: left;
    margin-left: 30px;
}
.product-bg-rectangle{
    width: 200px;
    height: 288px;
    background-color:#f6f6f6;
    border-radius: 10px;
}

.product-image{
    width: 150px;
    margin: 28px;
    margin-top: -40px;
}

.product-name{
    font-size: 15px;
    text-align: center;
    margin-top: -15px;
}

.shop-now{
    border-radius: 10px;
    width: 190px;
    height: 45px;
    box-shadow: none;
    border: none;
    margin: 4px;
    margin-top: 8px;
    color: #fff;
    background-color: #1d1d1d;
}

.button-inside-text{
    margin-top: 6px;
}