*{
    margin: 0;
    font-family: poppins,Arial, Helvetica, sans-serif;
}
.logoimage{
    height: 2em;
    padding-left: 3em;
}

#navtab-current{
    margin-left: 2rem;
    margin-right: 1rem;
    font-weight: bold;
}

#navtab{
    margin-left: 2rem;
    margin-right: 1rem;
}

#font-highlight-magentha{
    font-weight:bolder;
    font-size:50px;
    font-style: italic;
    color: #EC275B;
}

#font-highlight-black{
    font-weight: bolder;
    font-size:50px;
    color: #1d1d1d;
    font-style: italic;
}

.Content-box{
    height: 36em;
    padding-left: 3em;
    padding-top: 8em;
    background-image: linear-gradient(to bottom right, #fdfdfd,#e8e8e8);
    display: flex;
}

.left-content{
    margin:3em;
    margin-top: 3em;
    width: 35vw;
    float: left;
}

.contact-link{
    text-decoration: none;
<<<<<<< HEAD
    color:#EC275B;
=======
    color: #EC275B;
>>>>>>> modify
    font-weight:bold;
    margin-left: 3em;
}

.secondary-text{
    width: 30em;
}
.secondary-text-light{
    color: #bebebe;
    font-weight: 200;
    font-size: 10rem;
}

.sec-text-style{
    width: 38em;
    margin-left:4em; 
    font-size: 1.2em;
}

.shopnow{
    border-radius: 10px;
    box-shadow: none;
    border-style: none;
    width: 14em;
    height: 3.2em;
    background-color: #1d1d1d;
    color: #f6f6f6;
}


.right-content{
    width: 40vw;
}

.image-home{
    width: 25em;
    margin-top: -3em;
    float: left;
}

.rectangle-ad-main{
    width: 22em;
    height: 26em;
    background-color: rgb(255, 255, 255);
    box-shadow: #d2d2d2 1px 1px 8px;
    margin-left:28em;
    margin-top: -1.5em;
    border-radius: 8px;
    background-image: url("http://drive.google.com/uc?export=view&id=1W8bAMCV4ruLWJ4_1INRNpVAEXtMU0NDB");
    color: #fdfdfd;
}

#offer-text{
    padding: 7.5rem;
    font-weight: bolder;
}

.offer-button{
    border-radius: 5px;
    background-color: unset;
    border-color: #f6f6f6;
    border-style:solid;
    padding: 0.6rem;
    padding-left: 5rem;
    padding-right: 5rem;
    margin: 3.2rem;
    color: #f6f6f6;
}

.offer-button:hover{
    color: #1d1d1d;
    background-color: #f6f6f6;
}

.icon-box{
    margin: 0.2em;
    width: 3.5em;
    height: 3.5em;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 1px #bebebe;
    float: left;
}

.icon-inside{
    margin: 1.2rem;
    width: 1.2rem;
}

.content-descriptions{
    font-size: 12px;
    margin: 40px;
    margin-left: 55px;
    width: 400px;
}
.heading-text{
    font-size: large;
}


.product-section{
    width: 100%;
    height: 500px;
}

.feat-products{
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    margin: 60px;
    margin-left: 100px;
}

.product-list{
    margin-left: 50px;
}

.product-box{
    float: left;
    margin-left: 40px;
    margin-top: 30px;
}
.product-bg-rectangle{
    width: 220px;
    height: 300px;
    background-color: #f6f6f6;
    border-radius: 10px;
}

.product-image{
    width: 170px;
    margin: 28px;
    margin-top: -40px;
}

.product-name{
    font-size: 15px;
    text-align: center;
    margin-top: -15px;
}

.shop-now{
    border-radius: 10px;
    width: 212px;
    height: 46px;
    box-shadow: none;
    border: none;
    margin: 4px;
    margin-top: 8px;
    background-color: #1d1d1d;
    color: #f6f6f6;
}

.show-more-round
{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: small;
    color: rgb(255, 255, 255);
    background-color: #1d1d1d;
    float: left;
    position: relative;
    left: 250px;
    top: -180px;
    box-shadow: 1px 1px 10px #929292;
}

.more-button{
    position:relative; 
    left: 15px;
    top: 12px;
    font-size: large;
    font-weight: bolder;
}


.button-inside-text{
    margin-left: -50px;
    margin-right: -50px;
    margin-top: 5px;
}